<%= render 'shared/banner' %>
<br>
<div class="container">
  <% if @cocktails.empty? %>
    <p>Theres nothing in the list</p>
  <% else %>
  <div class="masonry">
  <!-- <div class="grid"> -->
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="item">
              <h4><%= cocktail.name %></h4>
          </div>
        <% end %>
      <% end %>
  <% end %>
  </div>
</div>
