<div class="banner">
  <div class="banner-content">
    <h1>Got cocktails?</h1>
    <p>Now you do.</p>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for freedom">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
