/*
*= require awesomplete
*= require jquery-ui
*/

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";


body {
  padding-top: 60px;
  font-family: $base-font;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: darken($green, 30%);
}

a {
  color: $green;
}

.wrapper {
  z-index: -10;
  height: 400px;
  width: 100%;

  // position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner-wrapper {
  // position: absolute;
  margin-top: -150px;
  //
}

.float-right {
  float: right;
}

.cocktail-header {
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // flex-direction: column;
  // text-align: center;
  // width: 100%;
  // height: 100px;
  // margin-top: 150px;

  h2 {
    // margin: 0;
    color: tomato;
  }

  p {
    font-family: $base-font;
    font-weight: 300;
    font-size: 1.8rem;
  }
}

.back-btn {
  font-size: 2rem;
  vertical-align: middle;
}


.show-cocktail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  // width: 100%;
  height: 500px;
  // margin-top: 150px;
  img {
    width: 100%;
  }
}

.inner-show {

}
